.game-field {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.battle__info {
    align-self: center;
    font-size: 3rem;
}

.players {
    display: flex;
    justify-content: space-between;
    padding-top: 3.2rem;
    padding-left: 6.4rem;
}

.computer--choice {
    margin-right: 6.4rem;
}

.computer--choice, .user--choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;

    border: 1px solid gray;
    border-radius: 2rem;
}

.user {
    display: flex;

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        padding-left: 1.6rem;
    
        & > * {
            width: 4rem;
            height: 4rem;
        }
    }
} 