.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 12rem;
    padding-right: 12rem;
}

.logo-wrapper {
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.header__right {
    display: flex;
    height: 3rem;
}

.header__username {
    margin-right: 1.6rem;
    align-self: end;
}