:root {
    --win-color: green;
    --lose-color: red;

    --rock__icon-color: #1BEFDB;
    --paper__icon-color: #A7D32B;
    --scissors__icon-color: #EF1B3A;
}

.game-field {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.players {
    display: flex;
    justify-content: space-between;
    padding-top: 4.8rem;
    padding-left: 6.4rem;

    transition: all 1s;
}

.computer--move {
    &.win {
        border: 3px solid var(--win-color);
    }

    &.loss {
        border: 3px solid var(--lose-color);
    }
    
    &.draw {
        border: 3px solid lightgray;
    }
}

.result {
    align-self: center;
    padding: 2.4rem;
    width: 5.2rem;
    text-align: center;
    transition: all 1s;
}



.computer--move, .user--move {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    
    border: 3px solid gray;
    border-radius: 2rem;
    transition: all 1s;    
}

.rock__icon {
    color: var(--rock__icon-color);
}

.paper__icon {
    color: var(--paper__icon-color);
}

.scissors__icon {
    color: var(--scissors__icon-color)
}


.user {
    display: flex;

    &--move {
        &.win {
            border: 3px solid var(--win-color);
            opacity: 1;
        }
    
        &.loss {
            border: 3px solid var(--lose-color);
            opacity: 1;
        }
          
        &.draw {
            border: 3px solid lightgray;
            opacity: 1;
        }
    }
    
    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        height: 100%;
        
        padding-left: 1.6rem;
        
        & > * {
            width: 4rem;
            height: 4rem;
        }
        
        .icon__button {
            border: 1px solid lightgray;
        }
    }
} 

.divider {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.transition--move-enter {
    opacity: 0;
}

.transition--move-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

